.filters{
    padding: 0.5rem;
}

.flex-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h3{
    margin-block-start: 0;
    margin-block-end: 0;
}

.filter-desc{
    font-weight: 500;
    text-transform: uppercase;
}

.flex-filter{
    display: flex;
    flex-direction: column;
    padding: 0.1rem;
}
.flex-filter  label{
    text-transform: lowercase;
}
.btn-clear{
    background-color: transparent;
    border: none;
    color: var(--blue-shade);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.75rem;
}